# ignore all directories with these names
raw_data/
saved TF_datasets/
autoencoder/
encoder/
saved_fxp_files/

# ignore all json files
*.json

# ignore specific files
get_osc_param_value_types.py
analyze_functions.py
get_list_of_keys.py
